<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--오픈 그래프 카카오톡/페이스북    -->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="페이지 이름"/>
    <meta property="og:title" content="페이지 이름 2번째"/>
    <meta property="og:description" content="페이지 소개"/>
    <meta property="og:image" content="페이지 이미지 경로"/> <!--<<seo 소셜 네트워크 최적화 이미지 >>-->
    <meta property="og:url" content="페이지 주소"/>
    <!--오픈 그래프 트위터    -->
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="페이지 이름"/>
    <meta property="twitter:title" content="페이지 이름 2번째"/>
    <meta property="twitter:description" content="페이지 소개"/>
    <meta property="twitter:image" content="페이지 이미지 경로"/>
    <meta property="twitter:url" content="페이지 주소"/>
    <!-- 로고 이미지   -->
    <link rel="icon" href="./favicon.png">
    <!--폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <!--아이콘-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="../static/main.css">

    <style>

        /*이너부분  끝*/
        .week {
            height: 250px;
            max-width: 70%;
            margin: 30px auto 30px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px darkseagreen;
        }


        .note {
            width: 75%;
            height: 38%;
            margin: auto auto 50px;
            padding-top: 30px;
            padding-bottom: 30px;
        {#background-color: royalblue;#} border-radius: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px darkseagreen;
        }

        .note > div {
            padding: 15px;
        }

        .title {
            display: flex;
            height: 24px;
            justify-content: center;
            align-items: center;
        }

        .h-100 {
            border-radius: 39px;
        }

        .w-100 {
            margin: auto;
            max-height: 250px;
            width: auto !important;
        }

        .card-img-top {
            border-top-left-radius: calc(2.25rem - 1px);
            border-top-right-radius: calc(2.25rem - 1px);
        }

        .btn_gruop {
            display: grid;
            grid-auto-flow: column;
            margin-right: 10px;
            margin-left: -8px;
            padding: 10px;
        }

        .btn-outline-primary {
            color: #0d6efd;
            border-color: #0d6efd;
            border-radius: 20px;
            margin-left: 18px;
        }

    </style>

    <script>
        {#로그아웃#}

        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!');
            window.location.href = "/";
        }

        {#로그아웃#}
        {#서치 시작#}

        function search() {
            let search = $('#search').val()
            console.log(search)
            if (search == '') {
                alert('값을 입력해주세요')
            } else {
                window.location.href = `/searching/${search}`
            }
        }

        {#서치 끝#}
        {#포스팅 함수#}

        function delete_posting(post_id) {
            let postid = post_id

            $.ajax({
                type: "POST",
                url: '/api/post/delete',
                data: {
                    post_id_give: postid
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = "/"
                }
            });

        }

        function modify_posting(post_id) {
            window.location.href = `/modify/${post_id}`
        }

        {#포스팅 함수 끝#}
        $(function () {
            $('.carousel-item').first().addClass('active')
        })

        function like_up(post_id, user_id) {
            let post = post_id
            let user = user_id
            console.log(post, user)
            $.ajax({
                type: "POST",
                url: "/api/likes/update",
                data: {
                    post_id_give: post,
                    user_id_give: user,
                },
                success: function (response) {
                    window.location.reload()
                }
            });
        }


    </script>

</head>

<body>

<header>
    <div class="inner">
        <!--전체 이너-->
        <!--검색 바-->
        <div class="search">
            <input type="text" placeholder="강아지 이름을 검색해주세요~" id="search">
            <button onclick="search()">
                <div class="material-icons">search</div>
            </button>
        </div>
        <!--로그인-->
        <div class="login">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {% if msg=='logout' %}
                    <button type="button" class="btn btn-outline-primary"><a href="../login">로그인</a></button>
                    <button type="button" class="btn btn-outline-primary"><a href="../join">회원가입</a></button>
                {% else %}
                    <button type="button" class="btn btn-outline-primary"><a href="../update">작성하기</a></button>
                    <button type="button" class="btn btn-outline-primary" onclick="logout()">로그아웃</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="week">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" id="rank-parent">
                {% for post in ranking %}
                    <div class="carousel-item">
                        <img src="../static/{{ post.img1 }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ post.dog_name }}</h5>
                            <p>{{ post.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <div class="note">
        <div class="title">
            <h1>강아지 자랑~</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for doglist in board %}
                <div class="col">
                    <div class="card h-100">
                        <div class="container_image">
                            <img src="../static/{{ doglist.img1 }}" style="max-width: 100%; height: 200px;"
                                 class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ doglist.dog_name }}</h5>
                            <h5 class="heart" id="heart" onclick="like_up({{ doglist.post_id }}, '{{ userid }}')">❤ X {{ doglist.likes_cnt }}</h5>
                            <p class="card-text">{{ doglist.comment }}</p>
                        </div>
                        <div class="btn_gruop">
                            {% if doglist.user_id == userid %}
                                <button onclick="modify_posting('{{ doglist.post_id }}')"
                                        class="btn btn-outline-primary">수정하기
                                </button>
                                <button onclick="delete_posting('{{ doglist.post_id }}')"
                                        class="btn btn-outline-primary">삭제하기
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</header>


</body>
</html>