<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--오픈 그래프 카카오톡/페이스북    -->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="페이지 이름"/>
    <meta property="og:title" content="페이지 이름 2번째"/>
    <meta property="og:description" content="페이지 소개"/>
    <meta property="og:image" content="페이지 이미지 경로"/> <!--<<seo 소셜 네트워크 최적화 이미지 >>-->
    <meta property="og:url" content="페이지 주소"/>
    <!--오픈 그래프 트위터    -->
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="페이지 이름"/>
    <meta property="twitter:title" content="페이지 이름 2번째"/>
    <meta property="twitter:description" content="페이지 소개"/>
    <meta property="twitter:image" content="페이지 이미지 경로"/>
    <meta property="twitter:url" content="페이지 주소"/>
    <!-- 로고 이미지   -->
    <link rel="icon" href="./favicon.png">
    <!--폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <!--아이콘-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link rel="stylesheet" href="../static/main.css">
    <!--js연결 -->
    <!--    <link rel="stylesheet" href="js 경로">-->
    <!--css연결 -->
    <!--    <link rel="stylesheet" href="css경로">-->


    <style>
        .week {
            height: 250px;
            background-color: orange;
            max-width: 70%;
            margin: 30px auto 30px;
            padding-top: 35px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px darkseagreen;
        }


        .note {
            width: 75%;
            height: 38%;
            margin: auto auto 50px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: royalblue;
            border-radius: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px darkseagreen;
        }
        .note > div {
            padding: 15px;
        }
        .title {
            display: flex;
            height: 24px;
            justify-content: center;
            align-items: center;
        }

        .h-100 {
            border-radius: 39px;
        }

        .wrap {
            width: 900px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }


    </style>

    <script>
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!');
            window.location.href = "/";
        }

        function search() {
            let search = $('#search').val()
            console.log(search)
            if (search == '') {
                alert('값을 입력해주세요')
            } else {
                window.location.href = `/searching/${search}`
            }
        }

        function post_update(post_id, not_posting) {
            let postid = post_id
            let posting_doggy = $('#boast_doggy').val()
            let notposting = not_posting
            let form_data = new FormData()

            let file = $('#file')[0].files[0]

            if ($('#file')[0].files[0] == null) {
                alert("첨부 파일은 필수!");
                $("#isFile").focus();
                return;
            }

            form_data.append("file_give", file)
            form_data.append("post_id_give", postid)

            if(posting_doggy == ""){
                form_data.append("posting_doggy_give", notposting)
            }else{
                form_data.append("posting_doggy_give", posting_doggy)
            }

            console.log(form_data)

            $.ajax({
                type: "POST",
                url: "/api/post/modify",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    window.location.href = "/";
                    alert("됨")
                }
            });

        }

    </script>

</head>

<body>
<header>
    <div class="inner">
        <!--전체 이너-->
        <!--검색 바-->
        <div class="search">
            <input id="search" type="text" placeholder="강아지 이름을 검색해주세요~">
            <button class="btn btn-light" onclick="search()">
                <div class="material-icons">search</div>
            </button>
        </div>
        <div class="login">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {% if msg=='logout' %}
                    <button type="button" class="btn btn-outline-primary"><a href="../login">로그인</a></button>
                    <button type="button" class="btn btn-outline-primary"><a href="../join">회원가입</a></button>
                {% else %}
                    <button type="button" class="btn btn-outline-primary"><a href="../update">작성하기</a></button>
                    <button type="button" class="btn btn-outline-primary" onclick="logout()">로그아웃</button>
                {% endif %}
            </div>
        </div>
    </div>


<div class ="wrap">
    <h1> 자랑 하기 </h1>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                자랑할 강아지
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../static/{{ postings[0].img1 }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" >{{ postings[0].dog_name}}</p>
                    </div>
                </div>
                </select>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                자랑할 사진(최대 5장)
            </div>
            <div class="col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" ><button>+</button>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col">
                자랑거리
            </div>
            <div class="col">
                <div class="mb-3" style="width:300px;height:30px;">
                    <textarea class="form-control" id="boast_doggy" rows="3" placeholder="{{ postings[0].comment}}"></textarea>
                </div>
            </div>
        </div>
        <button type="button" onclick="post_update('{{postings[0].post_id}}','{{ postings[0].comment}}')" class="btn btn-outline-primary">수정</button>
        <button type="button" class="btn btn-outline-primary"><a href="/">돌아가기</a></button>
    </div>
</div>


</body>
</html>